{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}

    <div class="align-middle text-center"  style="margin-top: 5%">
    <div className="box box1">
        <div className="container">
            <img src="{{ asset('images/image.png') }}" width="420" height="350" class="align-content-center"alt="logo"/>

            <h1 className="centerText">Répondez à vos sondages préférés</h1>
            <p className="centerText">
                Bienvenue sur Creacosm, ici vous pouvez répondre à de nombreux sondages (si l'accès vous y est autorisé).<br>
                De plus avec un compte administrateur vous pouvez créer des sondages avec un nombre illimité de question.<br>
                Vous pourrez ensuite accéder au statistiques des sondages.<br>
                Site créé par : Wassim Oulhadj, Tristan Paty, Itri Obani et Youssef El-Kalloubi.<br>
            </p>

    </div>
    </div>
    </div>
{% endblock %}