

{% extends 'base.html.twig' %}
{% block body %}

    <div class="text-center">
        <div class="align-middle">
            <h1 style="margin-top: 15%;color:red;margin-bottom: 5%">Route inexistante</h1>
            <img src="https://cdn-icons-png.flaticon.com/512/6195/6195678.png" alt="404" style="width: 10%;height: 10%">
        </div>

    </div>




{% endblock %}