

{% extends 'base.html.twig' %}
{% block body %}



<div class="align-middle text-center">
    <h1 class="align-middle text-center"  style="margin-top: 15%;color:red;margin-bottom: 5%">Accès non autorisé</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/9495/9495653.png" alt="404" style="width: 10%;height: 10%">
</div>









{% endblock %}