{% block title %}{% endblock %}
{% block body %}

    <script>
        function choixtype(val) {
            let choix;
            switch (val){
                case "multiple":
                    type = "multiple"
                    choix = " Réponse 1 :<input type=\"text\" name=\"reponse1-1\"><br><p id =\"1-2\"><button type=\"button\" onclick=\"newreponse(1,2)\"> + Ajouter une reponse </button></p><br>"
                    break
                case "ouverte":
                    type = "ouverte"
                    choix = "Question ouverte: Aucun affichage disponible"
                    break
                case "oui_non":
                    type = "oui_non"
                    choix = "<label>Oui <input type=\"radio\" name=\"visibilite\" value=\"oui\" checked> </label> <label>Non <input type=\"radio\" name=\"visibilite\" value=\"non\"> </label>"
                    break
                default:
                    type = ""
                    choix =""
                    break
            }
            document.getElementById("typequestion1").innerHTML = choix
        }

        function newreponse(nbquest, nbrep) {
            nbquestion++
            document.getElementById(nbquest + "-" + nbrep).innerHTML = "Réponse " + nbquestion + ":<input type=\"text\" name=\"reponse1-" + nbquestion + "\"><br><p id=\"" + nbquest + "-" + (nbrep + 1) + "\"><button type=\"button\" onclick=\"newreponse(" + nbquest + "," + (nbrep + 1) + ")\"> + Ajouter une reponse </button><button type=\"button\" onclick=\"removereponse(" + nbquest + "," + (nbrep) + ")\"> - Supprimer une reponse </button></p>"
        }

    </script>


    <p style="font-style: italic ; font-size: 18px">Create new Question</p>
        <label> Intitulé:
            <br>
            <input type="text" name="intitule1" autocomplete="off">
        </label>

        <br><br>

        <label for="type-select">Choisissez un type:</label><br>

        <select name="type1" id="type-select" autocomplete="off" onchange="choixtype(value)">
            <option value="">--Choisissez une option--</option>
            <option value="multiple">Question à choix multiple</option>
            <option value="ouverte">Question ouverte</option>
            <option value="oui_non">Question oui/non</option>
        </select>

        <br><br>

        <label> Choix de reponse:
            <br>
            <p id ="typequestion1"> Choisissez une option ci dessus</p>

        </label>

{% endblock %}
