{% extends 'base.html.twig' %}

{% block title %}Edit Sondage{% endblock %}

{% block body %}

    <script>
        function deleteT(id) {
            document.getElementById("idp").innerHTML = "<input name=\"id\" id=\"id\" type=\"hidden\" value =\"77\">";
        }

    </script>
    {% if erreur|length > 0 %}
    <p class="alert alert-danger" >{{ erreur }}</p>
    {% endif %}

    <div class="container   ">
        <div class="align-middle" style="margin-top: 3%">
    <h1>Créer un nouveau theme</h1>


    <p id="idp">
    <input name="id" id="id" type="hidden" value ="">
    </p>
    <form action="/sondage/creationTheme" id ="form" method="POST">
        <label>
            Nom du thème à créer : <input class="form-control"  type="text" name="theme" required>
        </label>
        <button type="submit" class="btn btn-outline-primary" >Creer</button>
    </form>
<br>
    <h1>Liste Theme</h1>
            <br>
            <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom des themes</th>
            </tr>
            </thead>
            <tbody>
            {% for theme in theme %}
            <tr>
                <td>{{ theme.theme }}</td>
                <td><a class="btn btn-danger" type="button" href="{{ path('app_theme_delete', {'id': theme.id}) }}">Supprimer</a>
                </td>

            </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>


            <a class="btn btn-outline-dark" href="{{ path('app_sondage_index') }}">Retour</a>
        </div>
    </div>

{% endblock  body%}