{% block title %}{% endblock %}
{% block body %}

    <script>
        function choixtype(val) {
            let choix;
            switch (val){
                case "multiple" :
                    type = "multiple"
                    choix = " Réponse 1 :<input class=\"form-control\" type=\"text\" name=\"reponse1-1\"><br><p id =\"1-2\"><button class=\"btn  btn-success\" type=\"button\" onclick=\"newreponse2(1,2)\"> + Ajouter une reponse </button></p><br>"
                    break
                case "unique" :
                    type = "unique"
                    choix = " Réponse 1 :<input class=\"form-control\" type=\"text\" name=\"reponse1-1\"><br><p id =\"1-2\"><button class=\"btn  btn-success\" type=\"button\" onclick=\"newreponse2(1,2)\"> + Ajouter une reponse </button></p><br>"
                    break
                case "ouverte":
                    type = "ouverte"
                    choix = "<label>Question ouverte: Aucun affichage disponible</label> "
                    break
                case "oui_non":
                    type = "oui_non"
                    choix = "<label>Question oui/non: Aucun affichage disponible</label>"
                    break
                default:
                    type = ""
                    choix =""
                    break
            }
            document.getElementById("typequestion1").innerHTML = choix
        }

        function newreponse2(nbquest, nbrep) {
            nbquestion++
            document.getElementById(nbquest + "-" + nbrep).innerHTML = "Réponse " + nbquestion + ":<input class=\"form-control\" type=\"text\" name=\"reponse1-" + nbquestion + "\"><br><p id=\"" + nbquest + "-" + (nbrep + 1) + "\"><button class=\"btn  btn-success\" type=\"button\" onclick=\"newreponse(" + nbquest + "," + (nbrep + 1) + ")\"> + Ajouter une reponse </button><button class=\"btn  btn-danger\" type=\"button\" onclick=\"removereponse(" + nbquest + "," + (nbrep) + ")\"> - Supprimer une reponse </button></p>"
        }

    </script>


    <p style="font-style: italic ; font-size: 18px">Create new Question</p>
    <label> Intitulé:     </label>
    <br>
        <input class="form-control" type="text" name="intitule1" autocomplete="off">
    <br><br>
    <label> Image: </label> <br> <input class="form-control" type="text" name="image1">
    <br><br>

    <label for="type-select">Choisissez un type:</label><br>

    <select class="form-select" name="type1" id="type-select" autocomplete="off" onchange="choixtype(value)">
        <option value="">--Choisissez une option--</option>
        <option value="multiple">Question à choix multiple</option>
        <option value="unique">Question à choix unique</option>
        <option value="ouverte">Question ouverte</option>
        <option value="oui_non">Question oui/non</option>
    </select>

    <br><br>

    <label> Choix de reponse:
        <br>
        <p id ="typequestion1"> Choisissez une option ci dessus</p>

    </label>

{% endblock %}