{% block title %}{% endblock %}
{% block body %}

    <script>
        function choixtype(val) {
            let choix;
            switch (val){
                case "multiple":
                    choix = "Réponse 1 :<input type=\"text\" name=\"reponse1\"><br>Réponse 2 :<input type=\"text\" name=\"reponse2\"><br>Réponse 3 :<input type=\"text\" name=\"reponse3\"><br>Réponse 4 :<input type=\"text\" name=\"reponse4\"><br>"
                    break
                case "ouverte":
                    choix = "Question ouverte: Aucun affichage disponible"
                    break
                case "oui_non":
                    choix = "<label>Oui <input type=\"radio\" name=\"visibilite\" value=\"oui\" checked> </label> <label>Non <input type=\"radio\" name=\"visibilite\" value=\"non\"> </label>"
                    break
                default:
                    choix =""
                    break
            }
            document.getElementById("typequestion1").innerHTML = choix
        }
    </script>


    <p style="font-style: italic ; font-size: 18px">Create new Question</p>
        <label> Intitulé:
            <br>
            <input type="text" name="intitule1">
        </label>

        <br><br>

        <label for="type-select">Choisissez un type:</label><br>

        <select name="type1" id="type-select" onchange="choixtype(value)">
            <option value="">--Choisissez une option--</option>
            <option value="multiple">Question à choix multiple</option>
            <option value="ouverte">Question ouverte</option>
            <option value="oui_non">Question oui/non</option>
        </select>

        <br><br>

        <label> Choix de reponse:
            <br>
            <p id ="typequestion1"> Choisissez une option si dessus</p>

        </label>

{% endblock %}
